{{ define "header" }}
<header class="token-header">
  <div class="token-header__logo">
    <!-- Your SVG logo here -->
    <p>Geld<span>.Network</span></p>
  </div>
  <nav class="token-header__nav">
    <ul class="token-header__nav-list">
      <li><a href="#introduction" class="token-header__nav-link">Introduction</a></li>
      <li><a href="#token-details" class="token-header__nav-link">Plot Details</a></li>
      <li><a href="#timeline" class="token-header__nav-link">Timeline</a></li>
    </ul>
    <p>
      <a style="color: #1e40af; font-size: 20px; font-weight: 700">Demo 001</a>
    </p>
  </nav>
</header>
{{ end }}
